* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

html {
  font-size: 62.5%;
}

.container {
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #faf4ed;
}

.navigation {
  width: 90rem;
  background-color: #fff;
  border-radius: 1rem;
  padding: 10rem;
}

.nav-item {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 3rem 4rem;
  border-bottom: 0.1rem solid #000;
  cursor: pointer;
  transition: padding.3s opacity 0.3s;
}

.nav-item:first-child {
  border-top: 0.1rem solid #000;
}

.nav-item:hover {
  padding: 3rem;
  opacity: 0.5;
}

.nav-link {
  font-size: 4rem;
  color: #222;
}

.nav-item span {
  font-size: 1.3rem;
}

.gallery {
  position: fixed;
  top: 10rem;
  width: 25rem;
  height: 20rem;
  background-color: #111;
  overflow: hidden;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0);
  transition:
    background-color 0.2s,
    left 0.15s,
    top 0.15s,
    transform 0.3s;
}

.images {
  height: 400%;
  transition: transform 0.3s 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.images img {
  width: 100%;
  height: 25%;
  object-fit: cover;
  padding: 3rem;
}

.gallery-btn {
  position: fixed;
  background-color: #2e7ee7;
  width: 5rem;
  aspect-ratio: 1;
  border: none;
  border-radius: 50%;
  font-size: 1.2rem;
  color: #fff;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0);
  transition:
    transform 0.3s,
    left 0.1s,
    top 0.1s;
}
